@import "styles/common"

.container_banner
  @include container
  padding: 0px 0px 120px 100px !important
  overflow: hidden
  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),          linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%)

.im_banner
  @include flex-rear
  position: relative
  img
    width: 100%

.heading
  position: relative
  z-index: 2
  max-width: 100%
  @media ( min-width: 1024px )
    max-width: 46%
  @media ( min-width: 1280px )
    max-width: 42%
    
  h1
    @apply text-white
    @include my-text(62px, 58px, 700)
    font-family: 'Transformer'
    z-index: 2
  p
    @apply text-white
    @include my-text(28px, 36px, 400)
    font-weight: 400
    padding-top: 10px
    margin-bottom: 0

.groupButton
  margin-top: 70px
  @apply flex flex-row items-center justify-start flex-wrap
  .item_btn
    button
      overflow: inherit
      min-width: 268px
      border-radius: 16px
      padding: 16px 0px
      margin-bottom: 24px
      @include my-text(20px, 28px, 500)
      @apply text-white
      cursor: pointer
      transition: 0.3s
      font-weight: 400
    button:hover
      transform: scale(1.06) translateY(-10px)

  .btn_investor
    margin-right: 12px
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
  .btn_Scholar
    position: relative
    backdrop-filter: blur(3px)
  .btn_Scholar::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 16px
    padding: 2px
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude






.content_glass
  min-width: 745px
  position: relative
.content_glass:after
  content: ''
  height: 130%
  width: 130%
  @apply absolute
  border-radius: 100%
  border: 2px solid transparent
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
  -webkit-mask-composite: xor
  mask-composite: exclude
  background: linear-gradient(75deg, #AE5FA6 0%, #A85CA4 0.59%, #8D509D 3.58%, #764697 6.9%, #613F93 10.53%, #503990 14.57%, #42358E 19.21%, #36338C 24.8%, #30328B 32.31%, #2E318B 50%, #30328B 67.69%, #36338C 75.2%, #42358E 80.79%, #503990 85.43%, #613F93 89.47%, #764697 93.1%, #8D509D 96.42%, #A85CA4 99.41%, #AE5FA6 100%)
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1

.titleTotal
  display: flex
  align-items: end
  justify-content: start
  font-family: 'Transformer'
  color: #FFF
  padding-bottom: 60px
  padding-top: 40px
  @media (min-width: 0px)
    margin-top: 30px
  @media (max-width: 540px)
    padding-bottom: 0px
  @media (min-width: 768px)
    margin-top: 00px
  .ic_stats
    @media (max-width: 767px)
      width: 45px
  p
    margin: 0px
    padding-left: 20px
    font-size: 22px
    line-height: 32px
    @media ( min-width: 540px )
      font-size: 26px
      line-height: 32px
    @media ( min-width: 768px )
      font-size: 32px
      line-height: 36px
    @media ( min-width: 992px )
      font-size: 40px
      line-height: 46px
      
.block_total
  @apply flex flex-row items-center justify-between flex-wrap relative
  padding-right: 100px
  z-index: 2
  margin-top: 32px

@media (min-width: 1280px) and (max-width: 1439px)
  .container_banner
    padding: 0px 0px 0px 5rem !important
    max-width: 1280px
    .heading
      h1
        font-size: 48px
      p
        font-size: 28px
    .groupButton
      justify-content: start
      button
        font-size: 18px
        min-width: 195px
    .content_glass
      min-width: 500px
    .block_total
      justify-content: space-between
@media (min-width: 1024px) and (max-width: 1279px)
  .container_banner
    padding: 100px 0px 0px 4rem !important
    max-width: 1024px
    .heading
      h1
        font-size: 48px
      p
        font-size: 28px
    .groupButton
      justify-content: start
      button
        font-size: 18px
        min-width: 195px
    .content_glass
      min-width: 500px
    .block_total
      justify-content: space-between
@media (min-width: 992px) and (max-width: 1023px)
  .container_banner
    max-width: 992px
    padding: 0px 3rem !important
    .heading
      h1
        font-size: 40px
      p
        font-size: 24px
    .groupButton
      button
        min-width: 180px
        font-size: 18px
    .content_glass
      min-width: 475px
    .block_total
      padding: 0
      justify-content: space-between

  .im_banner
    padding-top: 100px

@media (min-width: 768px) and (max-width: 991px)
  .container_banner
    padding: 140px 2rem 0px 2rem !important
    max-width: 768px
  .heading
    p
      margin-top: 20px
  .im_banner
    @apply flex-col
  .groupButton
    max-width: 100%
    justify-content: center

  .content_glass
    width: 100%
    min-width: 100%
  .content_glass:after
    display: none
  .block_total
    justify-content: space-between
    padding-right: 0

@media (min-width: 640px) and (max-width: 767px)
  .container_banner
    padding: 50px 2rem 0px 2rem !important
    max-width: 640px
    .heading
      h1
        font-size: 36px
      p
        font-size: 20px
  .im_banner
    @apply flex-col
  .groupButton
    margin-top: 20px
    @apply flex flex-row items-center justify-between
    .item_btn
      width: 48%
      button
        width: 100%
        font-size: 18px
        min-width: auto
        margin-right: 0
  .content_glass
    width: 100%
    min-width: 100%
    order: -1
  .content_glass:after
    display: none
  .block_total
    justify-content: space-between
    padding-right: 0

@media (min-width: 540px) and (max-width: 639px)
  .container_banner
    padding: 50px 1rem 0px 1rem !important
    max-width: 540px
    .heading
      h1
        font-size: 36px
      p
        font-size: 20px
  .im_banner
    @apply flex-col
  .groupButton
    max-width: 500px
    margin-top: 20px
    @apply flex flex-row items-center justify-between
    .item_btn
      width: 48%
    button
      font-size: 18px
      width: 100%
      min-width: auto
      margin-right: 0
      min-width: 100px !important
  .content_glass
    width: 100%
    min-width: 100%
    order: -1
  .content_glass:after
    display: none
  .block_total
    justify-content: space-between
    padding-right: 0


@media (min-width: 0px) and (max-width: 539px)
  .container_banner
    padding: 100px 1rem 0px 1rem !important
    .heading
      h1
        font-size: 32px
        line-height: 36px
      p
        font-size: 16px
        line-height: 26px
        padding: 12px 0px 0px 0px
  .im_banner
    @apply flex-col
  .groupButton
    max-width: 500px
    margin-top: 30px
    justify-content: space-between
    .item_btn
      width: 48%
    .item_btn button
      font-size: 16px !important
      min-width: 100% !important
      padding: 8px 0px
      margin-right: 0px

  .content_glass
    width: 100%
    min-width: 100%
    order: -1
  .content_glass:after
    display: none
  .block_total
    padding-right: 0
    justify-content: space-between

@media (min-width: 0px) and (max-width: 413px)
  .container_banner
    max-width: 360px
@media (min-width: 414px) and (max-width: 539px)
  .container_banner
    max-width: 414px


.wrapper_video
  max-width: 545px
  width: 100%
  @media (min-width: 768px)
    max-width: 100%
  @media (min-width: 992px)
    position: absolute
    top: 50%
    right: 0px
    transform: translateY(-50%)
    max-width: 464px
    z-index: 1
  @media (min-width: 640px)
    max-width: 546px
  @media (min-width: 992px)
    max-width: 460px
  @media (min-width: 1024px)
    right: 4rem
    max-width: 400px
  @media (min-width: 1280px)
    max-width: 540px
    right: 5rem  
  @media (min-width: 1440px)
    max-width: 570px
    right: 100px

  .content
    height: 318px
    padding: 4px
    @apply relative
    z-index: 1
    @media (min-width: 0px)
      height: 189px
    @media (min-width: 414px)
      height: 218px
    @media (min-width: 540px)
      height: 288px
    @media (min-width: 640px)
      height: 310px
    @media (min-width: 992px)
      height: 262px
    @media (min-width: 1024px)
      height: 230px
    @media (min-width: 1280px)
      height: 307px
    @media (min-width: 1440px)
      height: 323px
    iframe
      @apply w-full h-full relative
      border-radius: 16px 
  .bg_video
    @apply absolute h-full cursor-pointer
    top: 10px
    left: 9px
    @media (min-width: 0px)
      top: 5px
      left: 5px
    @media (min-width: 1440px)
      width: 567px
  .bg_video > img
      width: 99%
      border-radius: 12px
  .ic_play
    position: absolute
    top: 50%
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    transform: translateY(-50%)
    img
      max-width: 120px

  .bg_video::before
    content: ""
    position: absolute
    top: 0px
    left: 0px
    width: 99%
    height: 97%
    background: #0000006b
    border-radius: 12px
    @media (min-width: 0px)
      height: 94%
    @media (min-width: 414px)
      height: 95%
    @media (min-width: 540px)
      height: 97%
    @media (min-width: 1024px)
      height: 96%
    @media (min-width: 1440px)
      height: 97%

  .content::before
    content:""
    position: absolute
    top:0
    left:0
    right:0
    bottom:0
    border-radius: 12px 
    padding: 10px 
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)